/* Education start*/
/* src/HomePage.css */
.homepage {
  text-align: center;
  margin: 20px;
  color: #ffffff; /* Adding white text to complement the dark background */
}

.courses-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.course {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  color: #333; /* Darker text for readability */
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  padding: 20px;
  border-radius: 8px; /* Rounded corners for a softer look */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 2rem; /* Space between rows */
}

.course:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
}

.course img {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: rounded corners for the image */
  margin-bottom: 15px; /* Space between the image and the text */
}

.course-button {
  background-color: #17a2b8; /* A more vibrant color for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.course-button:hover {
  background-color: #138496; /* A darker shade for the button on hover */
}

/* Search Bar Styling */
.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px; /* Increased bottom margin */
  /* If you need to center it vertically as well, you can use align-items:
  align-items: center; */
}

/* If you have a specific container for the search bar, you could center that container instead */
.search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; /* This will vertically center it if the container has a specific height */
  margin-bottom: 40px; /* Bottom margin */
}

.search-input {
  padding: 10px 15px;
  font-size: 16px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px; /* Rounded corners on the left side */
  width: 250px; /* Adjust as needed */
}

.search-button {
  /* Other styles remain unchanged */
}

/* Adjust the margin as needed to fit the overall design of your page. */
